.cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.list{
    list-style-type: none;
    margin-left: 5px;
}

.button {
    border: 1px solid #e8511f;
    border-radius: 5px;
    background: #e8511f;
    color: #f2f3f4;
    padding: 10px;
    padding-right: 14px;
    padding-left: 12px;
    font-family: fantasy;
    font-size: 17px;
}
   
.button:hover {
    background-color: #1abc9c;
    color: white;
    border: 1px solid  #1abc9c;
}  